.fa-clickable {
    cursor: pointer;
}

.vista-previa {
    border-top: 0;
    border-radius: 0;
}

.titulo-sin-posts {
    margin-top: 3rem !important;
}

.fc-success-tamanio .fc-empty-tamanio {
    font-size: 3.5rem;
}

.fonts {
    font-family: Regular;
}

@font-face {
    font-family: 'Regular';
    src: local('Regular'), url(../fonts/Roboto-Regular.ttf) format('truetype');
}

.nounderline {
    text-decoration: none !important
}

.instruccion-inputs {
    font-size: 0.8rem;
}

.react-tag-input:focus-within {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff !important;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.react-tag-input.is-invalid {
    color: #495057;
    background-color: #fff;
    border-color: #dc3545 !important;
    outline: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none !important;
}

.react-tag-input.is-invalid:focus-within {
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
}

.react-tag-input {
    border:1px solid #ced4da !important;
}

.tag-descripcion {
    cursor: pointer;
    line-height: 1;
    font-size: .85em;
    background-color: #e1e1e1 !important;
    border-radius: 3px;
    color: #000 !important;
}

.sombra {
    box-shadow: 0rem -0.01rem 1rem rgba(0,0,0,.1)!important;
}

.titulo-pagina {
    margin-top: 6rem !important;
}

.clickeable {
    cursor: pointer;
}

.icono-usuario {
    color: #495057;
}

.buscador {
    width: 100%;
}

.sin-borde {
    border-color: transparent !important;
}

.sin-borde:focus {
    box-shadow: 0 0 0 0rem !important;
}

.posicion-spinner {
    height: 50vh;
}

.texto-salto-linea {
    word-wrap: break-word;
}

.notificacion-elipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.notificacion-ancho {
    width: 16rem;
}

#contenido {
    padding-bottom: 13rem;
}


.tamanio-notificaciones {
    overflow-y:auto;
    max-height:32rem;
}

@media all and (max-width:991px) {

    .boton-nueva-pregunta, .boton-oculto {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        background-color: white;
        box-shadow: 0rem -0.01rem 1rem rgba(0,0,0,.1)!important;
        padding: 16px;
    }

    .ocultar-mobile {
        display: none !important;
    }

    .toast-custom {
        top: calc(100vh - 46px);
        color: white;
        left: 0;
        width: -webkit-fill-available;
        max-width: none;
        position: fixed;
    }

    .boton-mobile-accion, .contenedor-mobile-accion {
        width: 100%;
        display:block;
    }

    #footer {
        display: none;
    }

    #contenido {
        padding-bottom: 0;
    }

    .margen-footer {
        margin-top: 1rem;
    }
    
    .tamanio-notificaciones {
        overflow-y:auto;
        max-height:18.4rem;
    }

}

@media all and (min-width:991px) {
    .ocultar-desktop {
        display: none;
    }
}   

.texto-menu {
    font-size: 1rem;
}

.footer-texto {
    color: gray;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}

#root {
    position: relative;
    min-height: 100%;
}

#footer {
    height:50px;
    line-height:50px;
    background: rgb(248 249 250);
    color:white;
    align-items: center;
    position:absolute;
    padding-top: 5rem;
    padding-bottom: 8rem;
    bottom:0;
    left:0;
    width:100%;
}

.icono-footer {
    font-size: 2rem;
}

.color-menu-header {
    background-color: #ffffff !important;
}