.card {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15) !important;
    border-radius: 0.6rem;
}

body {
    font-family: 'Roboto' !important;
}

.form-login-registrarse {
    width: 340px;
    margin: 0 auto;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none !important;
}