<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org/">
    <head lang="en">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="icon" th:href="@{fonts/favicon.ico}" />
        <title>SeMatForo</title>
    </head>
    <body>
        <div id="root"></div>
        <script th:src="@{/built/bundle.js}"></script>
    </body>
</html>