<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org">
    <head>
        <link rel="icon" type="image/png" th:href="@{fonts/logo.jpg}"/>
        <title>SeMatForo - Inicia sesión</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/vendor/bootstrap-4.6/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    </head>
    <body>
        <div class="form-login-registrarse">
            <div class="text-center mt-4">
                <img th:src="@{/fonts/logo.jpg}" width="50" height="62" alt=""/>
            </div>
            <div class="row d-flex justify-content-center">
                <h4 class="text-center mt-4 mb-3">Logueate en</h4>
                <img alt='' src='/fonts/texto.svg' width='100' height='56' class='d-inline-block mt-2 align-top' />
            </div>
            <div class="card border-light mt-4 pt-3 pl-4 pr-4 pb-2 mb-3 login-registro">
                <div>
                    <form action="#" th:action="@{/login}" method="post">
                        <div class="form-group alert alert-danger text-left" role="alert" th:if="${param.error}">
                            Nombre de usuario o contraseña inválida, volvé a intentar.
                        </div>
                        <div class="form-group mt-3 alert alert-success text-left" role="alert" th:if="${param.registro}">
                            Acabas de crear tu cuenta!! ya podés loguearte! :)
                        </div>
                        <div class="form-group mt-3 alert alert-danger text-left" role="alert" th:if="${param.registroError}">
                            Hubo un problema al intentar verificar tu cuenta, por favor, revisa tu email.
                        </div>
                        <div class="form-group">
                            <label><b>Usuario</b></label>
                            <input type="text" name="username" class="form-control" autofocus="autofocus" required />
                        </div>

                        <div class="form-group pb-0 mb-3">
                            <label><b>Contraseña</b></label>
                            <input type="password" name="password" class="form-control" required/>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary form-control" value="Ingresa"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>